{% import "themes/" + sysSettings.systemTheme + "/macros/core_ui.html" as core_ui with context %}

{% macro live_stream_card(stream) %}
<li class="streamCard item">
    <!-- Hidden data for list.js sorting -->
    <div class="d-none list_streamName">{{ stream.streamName }}</div>
    <div class="d-none list_streamOwner">{{ stream.linkedChannel | channeltoOwnerID | get_userName }}</div>
    <div class="d-none list_streamViewers">{{ stream.currentViewers }}</div>
    <div class="d-none list_streamTopic">{{ stream.topic | get_topicName }}</div>

    <!-- Thumbnail with badges overlay -->
    <div class="streamCard-thumbnail">
        <div class="streamCard-badges">
            {% if stream.linkedChannel | get_channelProtected %}
                {{ core_ui.protected_badge() }}
            {% endif %}
            {{ core_ui.live_badge() }}
            {{ core_ui.live_views_badge(stream.currentViewers) }}
        </div>
        <a href="/view/{{ stream.linkedChannel | get_channelLocationFromID }}/">
            <img class="streamCard-thumb gif lazy" 
                {% if stream.linkedChannel | get_channelProtected and sysSettings.protectionEnabled %}
                    src="/static/img/video-locked.jpg" 
                    onerror="this.src='/static/img/video-locked.jpg';"
                {% else %}
                    src="/static/img/video-placeholder.jpg" 
                    onerror="this.src='/static/img/video-placeholder.jpg';"
                {% endif %}
                data-src="/stream-thumb/{{ stream.linkedChannel | get_channelLocationFromID }}.png"
                alt="{{ stream.streamName }}">
        </a>
    </div>

    <!-- Info section -->
    <div class="streamCard-info">
        <a href="/streamer/{{ stream.linkedChannel | channeltoOwnerID }}" class="streamCard-avatar">
            <img class="streamCard-avatar-img" src="/images/{{ stream.linkedChannel | channeltoOwnerID | get_pictureLocation }}" onerror="this.src='/static/img/user2.png';" alt="">
        </a>
        <div class="streamCard-meta">
            <a href="/view/{{ stream.linkedChannel | get_channelLocationFromID }}" class="streamCard-title" title="{{ stream.streamName }}">{{ stream.streamName }}</a>
            <a href="/channel/{{ stream.linkedChannel }}" class="streamCard-channel" title="{{ stream.linkedChannel | get_channelName }}">{{ stream.linkedChannel | get_channelName }}</a>
            <a href="/topic/{{ stream.topic }}" class="streamCard-topic" title="{{ stream.topic | get_topicName }}">{{ stream.topic | get_topicName }}</a>
        </div>
    </div>

    <!-- Tags -->
    <div class="streamCard-tags">
        {% for tag in stream.linkedChannel | get_channelTags %}
            <span class="badge rounded-pill bg-primary">{{ tag.name }}</span>
        {% endfor %}
    </div>
</li>
{% endmacro %}

{% macro video_card(video) %}
<li class="streamCard item">
    <!-- Hidden data for list.js sorting -->
    <div class="d-none list-videoName">{{ video.channelName }}</div>
    <div class="d-none list-videoViews">{{ video.views }}</div>
    <div class="d-none list-videoDate">{{ video.videoDate }}</div>
    <div class="d-none list-videoTopic">{{ video.topic | get_topicName }}</div>

    <!-- Thumbnail with badges overlay -->
    <div class="streamCard-thumbnail {% if video.gifLocation != None %}gifhover{% endif %}">
        <div class="streamCard-badges">
            {% if video.channelID | get_channelProtected %}
                {{ core_ui.protected_badge() }}
            {% endif %}
            {{ core_ui.views_badge(video.views) }}
            {{ core_ui.length_badge(video.length) }}
        </div>
        <div class="streamCard-date">
            {{ core_ui.date_badge(video.videoDate) }}
        </div>
        <a href="/play/{{ video.id }}">
            <img class="streamCard-thumb lazy" 
                src="/static/img/video-placeholder.jpg" 
                data-src="/videos/{{ video.thumbnailLocation }}" 
                onerror="this.src='/static/img/video-placeholder.jpg';"
                alt="{{ video.channelName }}">
        </a>
    </div>

    <!-- Info section -->
    <div class="streamCard-info">
        <a href="/streamer/{{ video.owningUser }}" class="streamCard-avatar">
            <img class="streamCard-avatar-img" src="/images/{{ video.owningUser | get_pictureLocation }}" onerror="this.src='/static/img/user2.png';" alt="">
        </a>
        <div class="streamCard-meta">
            <a href="/play/{{ video.id }}" class="streamCard-title" title="{{ video.channelName }}">{{ video.channelName }}</a>
            <a href="/channel/{{ video.channelID }}" class="streamCard-channel" title="{{ video.channelID | get_channelName }}">{{ video.channelID | get_channelName }}</a>
            <a href="/topic/{{ video.topic }}" class="streamCard-topic" title="{{ video.topic | get_topicName }}">{{ video.topic | get_topicName }}</a>
        </div>
    </div>

    <!-- Tags -->
    <div class="streamCard-tags">
        {% for tag in video.id | get_videoTags %}
            <span class="badge rounded-pill bg-primary">{{ tag.name }}</span>
        {% endfor %}
    </div>
</li>
{% endmacro %}

{% macro clip_card(clip) %}
<li class="streamCard item">
    <!-- Hidden data for list.js sorting -->
    <div class="d-none list-clipName">{{ clip.clipName }}</div>
    <div class="d-none list-clipViews">{{ clip.views }}</div>
    <div class="d-none list-clipDate">{{ clip.clipDate }}</div>
    <div class="d-none list-clipLength">{{ clip.length }}</div>
    <div class="d-none list-clipTopic">{{ clip.topic | get_topicName }}</div>

    <!-- Thumbnail with badges overlay -->
    <div class="streamCard-thumbnail {% if clip.gifLocation != None %}gifhover{% endif %}">
        <div class="streamCard-badges">
            {% if clip.channelID | get_channelProtected %}
                {{ core_ui.protected_badge() }}
            {% endif %}
            {{ core_ui.views_badge(clip.views) }}
            {{ core_ui.length_badge(clip.length) }}
        </div>
        <div class="streamCard-date">
            {{ core_ui.date_badge(clip.clipDate) }}
        </div>
        <a href="/clip/{{ clip.id }}">
            <img class="streamCard-thumb lazy" 
                src="/static/img/video-placeholder.jpg" 
                data-src="/videos/{{ clip.thumbnailLocation }}" 
                onerror="this.src='/static/img/video-placeholder.jpg';"
                alt="{{ clip.clipName }}">
        </a>
    </div>

    <!-- Info section -->
    <div class="streamCard-info">
        <a href="/streamer/{{ clip.owningUser }}" class="streamCard-avatar">
            <img class="streamCard-avatar-img" src="/images/{{ clip.owningUser | get_pictureLocation }}" onerror="this.src='/static/img/user2.png';" alt="">
        </a>
        <div class="streamCard-meta">
            <a href="/clip/{{ clip.id }}" class="streamCard-title" title="{{ clip.clipName }}">{{ clip.clipName }}</a>
            <a href="/channel/{{ clip.channelID }}" class="streamCard-channel" title="{{ clip.channelID | get_channelName }}">{{ clip.channelID | get_channelName }}</a>
            <a href="/topic/{{ clip.topic }}" class="streamCard-topic" title="{{ clip.topic | get_topicName }}">{{ clip.topic | get_topicName }}</a>
        </div>
    </div>

    <!-- Tags -->
    <div class="streamCard-tags">
        {% for tag in clip.id | get_clipTags %}
            <span class="badge rounded-pill bg-primary">{{ tag.name }}</span>
        {% endfor %}
    </div>
</li>
{% endmacro %}

{% macro topic_card(topic) %}
<li class="topicCard item">
    <a href="/topic/{{ topic.id }}/" class="topicCard-link">
        <div class="topicImg">
            <img class="lazy" src="/images/{{ topic.iconClass }}" onerror="this.src='/static/img/video-placeholder.jpg';" alt="{{ topic.name }}">
        </div>
    </a>
    <div class="topicName">
        <a href="/topic/{{ topic.id }}/" title="{{ topic.name }}">{{ topic.name | limit_title20 }}</a>
    </div>
</li>
{% endmacro %}

{% macro streamer_card(streamerInfo) %}
<li class="streamer-avatar">
    <a href="/streamer/{{ streamerInfo.id }}" class="streamer-avatar-link">
        <img src="/images/{{ streamerInfo.pictureLocation }}" onerror="this.src='/static/img/user2.png';" alt="{{ streamerInfo.username }}">
        <div class="username">{{ streamerInfo.username | limit_string14 }}</div>
    </a>
</li>
{% endmacro %}

{% macro user_card(userInfo) %}
<li class="streamer-avatar">
    <a href="/profile/{{ userInfo.username }}" class="streamer-avatar-link">
        <img src="/images/{{ userInfo.pictureLocation }}" onerror="this.src='/static/img/user2.png';" alt="{{ userInfo.username }}">
        <div class="username">{{ userInfo.username | limit_string14 }}</div>
    </a>
</li>
{% endmacro %}

{% macro channel_card(channelData) %}
<li class="channelCard item">
    <!-- Hidden data for list.js sorting -->
    <div class="d-none list_channelName">{{ channelData.channelName }}</div>
    <div class="d-none list_channelOwner">{{ channelData.owningUser | get_userName }}</div>

    <!-- Thumbnail with badges -->
    <div class="channelCard-thumbnail">
        <div class="channelCard-badges">
            {% if channelData.id | get_channelLiveStatus %}
                {{ core_ui.live_badge() }}
            {% endif %}
            {% if channelData.id | get_channelProtected %}
                {{ core_ui.protected_badge() }}
            {% endif %}
            {% if channelData.private %}
                {{ core_ui.private_badge() }}
            {% endif %}
            {{ core_ui.views_badge(channelData.views) }}
        </div>
        <a href="/channel/{{ channelData.id }}/">
            <div class="channelImg">
                <img class="lazy" src="/images/{{ channelData.imageLocation }}" onerror="this.src='/static/img/video-placeholder.jpg';" alt="{{ channelData.channelName }}">
            </div>
        </a>
    </div>

    <!-- Channel info -->
    <div class="channelCard-info">
        <a href="/channel/{{ channelData.id }}/" class="channelName" title="{{ channelData.channelName }}">{{ channelData.channelName | limit_title20 }}</a>
        <a href="/streamer/{{ channelData.owningUser }}/" class="channelOwner">{{ channelData.owningUser | get_userName | limit_title20 }}</a>
    </div>
</li>
{% endmacro %}

{% macro comment_card(comment) %}
<div class="comment" id="vidComment-{{ comment.id }}">
    <div class="comment-container">
        <div class="comment-avatar">
            <a href="/profile/{{ comment.userID | get_userName }}">
                <img class="avatar-md" src="/images/{{ comment.userID | get_pictureLocation }}" onerror="this.src='/static/img/user2.png';" alt="">
            </a>
        </div>
        <div class="comment-content">
            <div class="comment-header">
                <a href="/profile/{{ comment.userID | get_userName }}" class="comment-username">{{ comment.userID | get_userName }}</a>
                <span class="comment-date"><i class="bi bi-calendar-date"></i> {{ comment.timestamp | normalize_date }}</span>
            </div>
            <div class="comment-body">
                {{ comment.comment | markdown }}
            </div>
            <div class="comment-actions">
                {% if check_isCommentUpvoted(comment.id) %}
                    <button id="commentUpvoteButton-{{ comment.id }}" type="button" class="btn btn-sm btn-success" onclick="changeUpvote('comment', {{ comment.id }});">
                        <i id="commentUpvoteIcon-{{ comment.id }}" class="fas fa-thumbs-up"></i>
                        <span id="upvoteTotalComments-{{ comment.id }}">{{ comment.upvotes|length }}</span>
                    </button>
                {% else %}
                    <button id="commentUpvoteButton-{{ comment.id }}" type="button" class="btn btn-sm btn-outline-success" onclick="changeUpvote('comment', {{ comment.id }});">
                        <i id="commentUpvoteIcon-{{ comment.id }}" class="far fa-thumbs-up"></i>
                        <span id="upvoteTotalComments-{{ comment.id }}">{{ comment.upvotes|length }}</span>
                    </button>
                {% endif %}
                {% if video.owningUser == current_user.id or current_user.has_role('Admin') or comment.userID == current_user.id %}
                    <button type="button" data-id="{{ comment.id }}" class="btn btn-sm btn-danger deleteComment" onclick="confirmDeleteComment('{{ comment.id }}');">
                        <i class="fas fa-trash-alt"></i>
                    </button>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endmacro %}

{% macro user_settings_video_card(video) %}
<li id="video-{{video.id}}" class="channelVideoCard p-2 p-md-0 m-0 m-md-2">
    <div class="row">
        <div class="col-12">
            <a class="btn btn-sm btn-dark boxShadow w-100" href="/play/{{video.id}}"><span id="vidName-{{video.id}}">{{video.channelName}}</span></a>
        </div>
    </div>
    <div class="row">
      <div class="col-auto pt-1">
        <div class="mb-2" style="width:270px;">
          <img class="boxShadow {% if video.gifLocation != None %}gif{% endif %} lazy" id="videoThumb-{{video.id}}" src="/static/img/video-placeholder.jpg" data-src="/videos/{{video.thumbnailLocation}}" onerror="this.src='/static/img/video-placeholder.jpg';" style="max-width:100%;max-height:100%;border-radius:6px;{% if video.pending == True %}filter: blur(2px);{% endif %}">
        </div>
        <div class="d-grid gap-2">
            <button type="button" class="btn btn-success boxShadow videoThumbnailUploadModalButton" onclick="uploadThumbnailModal('{{video.id}}','video');">Upload Thumbnail</button>
        </div>
        <div class="mt-2">
          <button class="videoMoveModalButton btn btn-primary boxShadow" onclick="moveVideoModal('{{video.id}}');" data-toggle="tooltip" data-placement="top" title="Move Video"><i class="fas fa-arrow-circle-right"></i></button>
          <button class="btn btn-primary boxShadow" onclick="openClipModal('{{video.id}}', '/videos/{{video.videoLocation}}');" data-toggle="tooltip" data-placement="top" title="Create Clip"><i class="fas fa-cut"></i></button>
          <button class="videoEditModalButton btn btn-primary boxShadow" data-bs-toggle="modal" data-bs-target="#videoEditModal" data-videoid="{{video.id}}" data-toggle="tooltip" data-placement="top" title="Edit Metadata"><i class="fas fa-edit"></i></button>
          <button class="btn btn-primary boxShadow" data-bs-toggle="modal" onclick="openSSModal('{{video.id}}', '/videos/{{video.videoLocation}}');" data-toggle="tooltip" data-placement="top" title="Set Thumbnail"><i class="fas fa-camera"></i></button>
          <button class="videoShareModalButton btn btn-primary boxShadow" data-bs-toggle="modal" data-bs-target="#videoShareModal" data-videoid="{{video.id}}" data-toggle="tooltip" data-placement="top" title="Share Video"><i class="fas fa-share-alt"></i></button>
          <button class="videoDeleteModalButton btn btn-danger boxShadow" onclick="openVideoDeleteModal('{{ video.id }}');" data-toggle="tooltip" data-placement="top" title="Delete Video"><i class="fas fa-trash-alt"></i></button>
        </div>
      </div>
      <div class="col mt-1">
        <div class="mb-1">
            <div class="btn-group boxShadow" role="group">
              <span type="button" class="btn btn-sm btn-success noClickButton min-35"><i class="fas fa-hashtag"></i></span>
              <span id="vidTopicText-{{video.id}}" class="btn btn-sm btn-dark noClickButton min-150">{{video.topic|get_topicName}}</span>
            </div>
        </div>
        <div class="my-1">
            <div class="btn-group boxShadow" role="group">
              <button type="button" class="btn btn-sm btn-primary noClickButton min-35"><i class="fas fa-calendar"></i></button>
              <button type="button" class="btn btn-sm btn-dark noClickButton min-150">{{video.videoDate|normalize_date}}</button>
            </div>
        </div>
        <div class="my-1">
            <div class="btn-group boxShadow" role="group">
              <button type="button" class="btn btn-sm btn-danger noClickButton min-35"><i class="fas fa-clock"></i></button>
              <button type="button" class="btn btn-sm btn-dark noClickButton min-150">{{video.length|hms_format}}</button>
            </div>
        </div>
        <span id="vidTopic-{{video.id}}" class="d-none">{{video.topic}}</span>
        <span id="vidDescription-{{video.id}}" class="d-none">{{video.description}}</span>
        <span id="vidAllowComments-{{video.id}}" class="d-none">{{video.allowComments}}</span>
        <div class="my-1">
            <div class="btn-group boxShadow" role="group">
              <button type="button" class="btn btn-sm btn-primary noClickButton min-35"><i class="fas fa-users"></i></button>
              <button type="button" class="btn btn-sm btn-dark noClickButton min-150">{{video.views}}</button>
            </div>
        </div>
        <div class="my-1">
            <div class="btn-group boxShadow" role="group">
              <button type="button" class="btn btn-sm btn-primary noClickButton min-35"><i class="far fa-thumbs-up"></i></button>
              <button type="button" class="btn btn-sm btn-dark noClickButton min-150">{{ video.id | get_Video_Upvotes }}</button>
            </div>
        </div>
        <div class="my-1">
            <div class="btn-group boxShadow" role="group">
              <button type="button" class="btn btn-sm btn-primary noClickButton min-35"><i class="far fa-comment-alt"></i></button>
              <button type="button" class="btn btn-sm btn-dark noClickButton min-150">{{ video.id | get_Video_Comments }}</button>
            </div>
        </div>
        <div class="form-group row mt-3">
            <div class="col-12">
                <div class="form-check form-switch">
                  <label for="published-{{video.id}}"><b>Published?</b></label>
                  <input class="form-check-input" type="checkbox" id="published-{{video.id}}" name="publishedSelect" onchange="togglePublished('{{video.id}}')" {% if video.published == True %} checked {% endif %}>
                </div>
            </div>
        </div>
        <div class="d-none" id="video-{{ video.id }}-tags">{{ video.id | get_videoTags_csv }}</div>
      </div>
    </div>
</li>
{% endmacro %}

{% macro user_settings_clip_card(clip) %}
<li id="clip-{{clip.id}}" class="channelVideoCard p-2 p-md-0 m-0 m-md-2 {% if clip.parentVideo != None %} parentVideo-{{clip.parentVideo}} {% endif %}">
    <div class="row">
        <div class="col-12">
            <a class="btn btn-sm btn-dark boxShadow w-100" href="/clip/{{clip.id}}">
                <span id="clipName-{{clip.id}}">{{clip.clipName}}</span>
            </a>
        </div>
    </div>
    <div class="row">
      <div class="col-auto pt-1">
        <div class="mb-2" style="width:270px;">
          <img class="boxShadow {% if clip.gifLocation != None %}gif{% endif %} lazy" id="clipThumb-{{clip.id}}" src="/static/img/video-placeholder.jpg" data-src="/videos/{{clip.thumbnailLocation}}" onerror="this.src='/static/img/video-placeholder.jpg';" style="max-width:100%;max-height:100%;">
        </div>
        <div class="d-grid gap-2">
            <button type="button" class="btn btn-success boxShadow videoThumbnailUploadModalButton" onclick="uploadThumbnailModal('{{clip.id}}','clip');">Upload Thumbnail</button>
        </div>
        <div class="mt-2">
          <button class="clipEditModalButton btn btn-primary boxShadow" onclick="editClipMetadataModal('{{ clip.id }}');"><i class="fas fa-edit"></i></button>
          <button class="btn btn-primary boxShadow" data-toggle="modal" onclick="openClipSSModal('{{clip.id}}', '/videos/{{clip.videoLocation}}');"><i class="fas fa-camera"></i></button>
          <button class="clipShareModalButton btn btn-primary boxShadow" data-bs-toggle="modal" data-bs-target="#videoShareModal" data-clipid="{{clip.id}}"><i class="fas fa-share-alt"></i></button>
          <button class="clipDeleteModalButton btn btn-danger boxShadow" onclick="deleteClipModal('{{clip.id}}');"><i class="fas fa-trash-alt"></i></button>
        </div>
      </div>
      <div class="col mt-2">
        <div class="mb-1">
            <div class="btn-group boxShadow" role="group">
              <span type="button" class="btn btn-sm btn-success noClickButton min-35"><i class="fas fa-hashtag"></i></span>
              <span id="clipTopicText-{{clip.id}}" class="btn btn-sm btn-dark noClickButton min-150">{{clip.topic |get_topicName}}</span>
            </div>
        </div>
        <div class="my-1">
            <div class="btn-group boxShadow" role="group">
              <button type="button" class="btn btn-sm btn-primary noClickButton min-35"><i class="fas fa-calendar"></i></button>
              <button type="button" class="btn btn-sm btn-dark noClickButton min-150">{{clip.clipDate | normalize_date}}</button>
            </div>
        </div>
        <div class="my-1">
            <div class="btn-group boxShadow" role="group">
              <button type="button" class="btn btn-sm btn-danger noClickButton min-35"><i class="fas fa-clock"></i></button>
              <button type="button" class="btn btn-sm btn-dark noClickButton min-150">{{clip.length|hms_format}}</button>
            </div>
        </div>
        <div class="my-1">
            <div class="btn-group boxShadow" role="group">
              <button type="button" class="btn btn-sm btn-primary noClickButton min-35"><i class="fas fa-users"></i></button>
              <button type="button" class="btn btn-sm btn-dark noClickButton min-150">{{clip.views}}</button>
            </div>
        </div>
        <div class="my-1">
            <div class="btn-group boxShadow" role="group">
              <button type="button" class="btn btn-sm btn-primary noClickButton min-35"><i class="far fa-thumbs-up"></i></button>
              <button type="button" class="btn btn-sm btn-dark noClickButton min-150">{{ clip.id | get_Clip_Upvotes }}</button>
            </div>
        </div>
        <span id="clipDescription-{{clip.id}}" class="d-none">{{clip.description}}</span>
        <div class="form-group row mt-3">
            <div class="col-12">
                <div class="form-check form-switch">
                  <label for="clipPublished-{{clip.id}}"><b>Published?</b></label>
                  <input class="form-check-input" type="checkbox" id="clipPublished-{{clip.id}}" name="publishedSelect" onchange="togglePublishedClip('{{clip.id}}')" {% if clip.published == True %} checked {% endif %}>
                </div>
            </div>
        </div>
        <div class="d-none" id="clip-{{ clip.id }}-tags">{{ clip.id | get_clipTags_csv }}</div>
      </div>
    </div>
</li>
{% endmacro %}

{% macro user_settings_content_row(item) %}
<tr id="{% if item.type == 'video' %}video-{{item.id}}{% else %}clip-{{item.id}}{% endif %}" class="align-middle content-row"
    data-type="{{item.type}}"
    data-published="{% if item.published == True %}true{% else %}false{% endif %}"
    data-title="{{item.title|lower}}"
    data-date="{{item.date}}"
    data-views="{{item.views}}">
    <td class="align-middle text-center">
        <input type="checkbox" class="form-check-input content-selector" value="{{item.id}}" data-type="{{item.type}}">
    </td>
    <td class="align-middle">
        <div class="position-relative" style="width: 160px; min-width: 160px;">
            <img class="boxShadow {% if item.gifLocation != None %}gif{% endif %} lazy img-fluid rounded" 
                 id="{% if item.type == 'video' %}videoThumb-{{item.id}}{% else %}clipThumb-{{item.id}}{% endif %}" 
                 src="/static/img/video-placeholder.jpg" 
                 data-src="/videos/{{item.thumbnailLocation}}" 
                 onerror="this.src='/static/img/video-placeholder.jpg';" 
                 style="border-radius:6px; {% if item.pending == True %}filter: blur(2px);{% endif %}">
            <span class="badge bg-dark position-absolute bottom-0 end-0 m-1 opacity-75" style="font-size: 0.75rem;">
                {{item.length|hms_format}}
            </span>
        </div>
    </td>
    <td class="align-middle">
        {% if item.type == 'video' %}
            <a class="text-white fw-bold text-decoration-none" href="/play/{{item.id}}">
                <span id="vidName-{{item.id}}">{{item.title}}</span>
            </a>
            <span id="vidTopic-{{item.id}}" class="d-none">{{item.topic}}</span>
            <span id="vidDescription-{{item.id}}" class="d-none">{{item.description}}</span>
            <span id="vidAllowComments-{{item.id}}" class="d-none">{{item.allowComments}}</span>
            <div class="d-none" id="video-{{item.id}}-tags">{{item.tags}}</div>
        {% else %}
            <a class="text-white fw-bold text-decoration-none" href="/clip/{{item.id}}">
                <span id="clipName-{{item.id}}">{{item.title}}</span>
            </a>
            <span id="clipDescription-{{item.id}}" class="d-none">{{item.description}}</span>
            <div class="d-none" id="clip-{{item.id}}-tags">{{item.tags}}</div>
        {% endif %}
    </td>
    <td class="align-middle">
        {% if item.type == 'video' %}
            <span class="badge bg-success"><i class="fas fa-video me-1"></i>Video</span>
        {% else %}
            <span class="badge bg-purple" style="background-color: var(--theme-purple, #6f42c1);"><i class="fas fa-cut me-1"></i>Clip</span>
        {% endif %}
    </td>
    <td class="align-middle">
        <span class="badge bg-secondary">{{item.topic|get_topicName}}</span>
    </td>
    <td class="align-middle text-nowrap">
        {{item.date|normalize_date}}
    </td>
    <td class="align-middle text-nowrap">
        <span class="me-2" title="Views"><i class="fas fa-users text-muted me-1"></i>{{item.views}}</span>
        <span class="me-2" title="Upvotes"><i class="far fa-thumbs-up text-muted me-1"></i>{% if item.type == 'video' %}{{item.id|get_Video_Upvotes}}{% else %}{{item.id|get_Clip_Upvotes}}{% endif %}</span>
        {% if item.type == 'video' %}
            <span title="Comments"><i class="far fa-comment-alt text-muted me-1"></i>{{item.id|get_Video_Comments}}</span>
        {% else %}
            <span title="Comments"><i class="far fa-comment-alt text-muted me-1"></i>-</span>
        {% endif %}
    </td>
    <td class="align-middle">
        {% if item.tags %}
            {% for tag in item.tags.split(',') %}
                <span class="badge bg-secondary text-light m-1">{{tag}}</span>
            {% endfor %}
        {% else %}
            <span class="text-muted" style="font-size: 0.85rem;">-</span>
        {% endif %}
    </td>
    <td class="align-middle text-center">
        <div class="form-check form-switch d-inline-block">
            {% if item.type == 'video' %}
                <input class="form-check-input" type="checkbox" id="published-{{item.id}}" name="publishedSelect" onchange="togglePublished('{{item.id}}')" {% if item.published == True %} checked {% endif %}>
            {% else %}
                <input class="form-check-input" type="checkbox" id="clipPublished-{{item.id}}" name="publishedSelect" onchange="togglePublishedClip('{{item.id}}')" {% if item.published == True %} checked {% endif %}>
            {% endif %}
        </div>
    </td>
    <td class="align-middle text-nowrap">
        <div class="btn-group btn-group-sm" role="group">
            {% if item.type == 'video' %}
                <button class="videoEditModalButton btn btn-primary" data-bs-toggle="modal" data-bs-target="#videoEditModal" data-videoid="{{item.id}}" data-toggle="tooltip" data-placement="top" title="Edit Metadata"><i class="fas fa-edit"></i></button>
                <button class="btn btn-primary" data-bs-toggle="modal" onclick="openSSModal('{{item.id}}', '/videos/{{item.videoLocation}}');" data-toggle="tooltip" data-placement="top" title="Set Thumbnail"><i class="fas fa-camera"></i></button>
                <button class="btn btn-success" onclick="uploadThumbnailModal('{{item.id}}','video');" data-toggle="tooltip" data-placement="top" title="Upload Thumbnail"><i class="fas fa-upload"></i></button>
                <button class="videoShareModalButton btn btn-primary" data-bs-toggle="modal" data-bs-target="#videoShareModal" data-videoid="{{item.id}}" data-toggle="tooltip" data-placement="top" title="Share Video"><i class="fas fa-share-alt"></i></button>
                <button class="videoMoveModalButton btn btn-primary" onclick="moveVideoModal('{{item.id}}');" data-toggle="tooltip" data-placement="top" title="Move Video"><i class="fas fa-arrow-circle-right"></i></button>
                <button class="btn btn-primary" onclick="openClipModal('{{item.id}}', '/videos/{{item.videoLocation}}');" data-toggle="tooltip" data-placement="top" title="Create Clip"><i class="fas fa-cut"></i></button>
                <button class="videoDeleteModalButton btn btn-danger" onclick="openVideoDeleteModal('{{ item.id }}');" data-toggle="tooltip" data-placement="top" title="Delete Video"><i class="fas fa-trash-alt"></i></button>
            {% else %}
                <button class="clipEditModalButton btn btn-primary" onclick="editClipMetadataModal('{{ item.id }}');" data-toggle="tooltip" data-placement="top" title="Edit Metadata"><i class="fas fa-edit"></i></button>
                <button class="btn btn-primary" onclick="openClipSSModal('{{item.id}}', '/videos/{{item.videoLocation}}');" data-toggle="tooltip" data-placement="top" title="Set Thumbnail"><i class="fas fa-camera"></i></button>
                <button class="btn btn-success" onclick="uploadThumbnailModal('{{item.id}}','clip');" data-toggle="tooltip" data-placement="top" title="Upload Thumbnail"><i class="fas fa-upload"></i></button>
                <button class="clipShareModalButton btn btn-primary" data-bs-toggle="modal" data-bs-target="#videoShareModal" data-clipid="{{item.id}}" data-toggle="tooltip" data-placement="top" title="Share Clip"><i class="fas fa-share-alt"></i></button>
                <button class="clipDeleteModalButton btn btn-danger" onclick="deleteClipModal('{{item.id}}');" data-toggle="tooltip" data-placement="top" title="Delete Clip"><i class="fas fa-trash-alt"></i></button>
            {% endif %}
        </div>
    </td>
</tr>
{% endmacro %}

